@font-face {
    font-family: 'pixelated';
    src: url('font/Pixeled.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pixelated', sans-serif;
    background-color: black;
    flex-direction: column;
}


.grid {
    position: absolute;
    width: 780px;
    height: 600px;
    border: 1px solid rgb(151, 1, 196);
    margin-top: 100px;
    overflow: hidden;
    align-self: center;
    margin-top: 10px;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(249, 197, 245);
}
 
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(255, 242, 63);
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(254, 149, 250);
}

h1 {
    font-family: pixelated;
    color: rgb(0, 247, 255);
}

.game-info {
    display: flex;
    justify-content: space-between;
    width: 780px; /* Match the grid width */
    margin-bottom: 10px;
}

#timer, #lives {
    font-size: 24px;
}

#score {
    position: absolute;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
}